body {
  text-align: center;
}
.results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

iframe {
  border: none;
  height: 30vw;
  min-height: 300px;
  width: 30vw;
  min-width: 300px;
  margin: auto;
  margin-top: 2vh
}
